/* reset styles */
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  background-color: rgba(9, 186, 250, 0.347);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Virgil";
  src: url("https://excalidraw.com/Virgil.woff2");
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  font-family: Virgil;
  font-size: 24px;
  text-align: center;

  margin-top: 50px;
}

.container {
  display: flex;
  gap: 20px;
}

.shape-card {
  transition: border-radius 0.5s ease;

  width: 150px;
  height: 150px;
  border: 3px solid rgba(122, 179, 240, 0.987);
  border-radius: 20%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.shape-card:hover {
  border-radius: 50%;
}

.gameResult {
  margin: 60px 0;
}

.infoText {
  display: none;
  color: rgb(248, 248, 236);
}

.roundResult {
  color: rgb(0, 140, 143);
}

.score {
  color: aliceblue;
}
